.header{
    background-color: #1f2937;
    color: white;
    list-style: none;
    text-decoration: none;
}
ul{
    list-style: none;

}
a{
    color: white;
    text-decoration: none;
    list-style: none;
}
.img0{
    width: 300px;
    height:auto;
}